.autor__name {
  font-weight: bold;
  font-size: 17px;
  margin-left: 17px;
}

.autor__email {
  font-weight: normal;
  font-size: 17px;
  margin-left: 17px;
  background: rgba(68, 68, 68, 1);
  margin-top: 5px;
  display: block;
  margin-bottom: 30px;

}
