.autor__name {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 3px;

  @include tablets {
    font-size: 18px;
  }
}

.autor__email {
  display: block;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}
