.footer__socials {
  display: inline-block;

}

.footer__develop {
display: block;
}

.develop__text {
  font-weight: bold;
  font-size: 19px;
  color: $basic-dark;
}

.develop__logo{
position: absolute;
bottom: 0;
right: 0;
}
