.font-face {
  font-family: "Open Sans";
  font-weight: regular;
  font-style: normal;
  font-display: swap;
  src:
    url(".") format("woff2"),
    url("") format("woff");
}

.header {
  font-family: $font-stack;
  background-color: $basic-white;
}

.header__title {
  font-size: 24px;
  text-align: center;
  height: 90px;
}

.header__top {
  background-color: $basic-white;
  font-size: 17px;
  list-style: none;
}

.header__logo {
  background-color: $basic-white;
}

.page-header_catalog {
  list-style: none;
}
