.main-nav__list {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-dark;
}

.main-nav__toggle {
  width: 20px;
  height: 14px;
}

.main-nav__toggle {
  width: 260px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
}
