.main-nav__list {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-dark;
}

.user-list{
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 24px;
color: $basic-dark;
}
