.map {
  margin-bottom: 40px;

  @include tablets {
    margin-bottom: 55px;
  }
}

.map__inner {
  background-image: url("../../img/map/map_mobile.jpg");
  background-position: center 0%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 454px;
  display: flex;

  @include tablets {
    min-height: 457px;
  }
}

.map__inner iframe {
  width: 100%;
}
