.products-secton__link {
  color: $basic-white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  width: 0;
  margin: 40px;
  padding: 5px;
  display: flex;
}

.products-section__link:last-child {
  width: 100%;
  color: $basic-white;
}


.products-section__item {
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: $warm-dirty-green;
  color: $basic-white;
  font-size: 19px;
}

.products-section__item:first-child {
  background-color: $basic-green;
  color: $basic-white;
}

.products-section-second__item {
  background-color: $medium-dirty-green;
}

.products-section__img {
  margin-left: 75px;
}
