
.slider__text {
  font-weight: normal;
  font-size: 15px;
  color: #000000;
  display: block;
    margin: 20px;
    line-height: 30px;
    text-align: left;
    margin-top: 40px;
}


.slider__autor {
  color: #000000;
}
