
body {
  font-family: $font-stack;
  font-weight: 400;
  color: $dark-grey;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


li {
  display: inline-block;
}


a {
  display: block;
  text-decoration: none;
}
