$font-stack: "Open Sans", "Arial", "Helvetica", sans-serif;
$font-weght: "regular";

$basic-white: #ffffff;
$basic-dark: #000000;
$medim-dark:#231f20;
$basic-green:#63d1bb;
$dirty-green:#149080;
$medium-dirty-green:#56c3b2;
$warm-green:#62d1ba;
$warm-dirty-green:#6bc6b3;
$basic-grey:#444444;
$medium-grey:#ececec;
$light-grey:#f1f1f1;
$dark-grey:#e5e5e5;

$desktop: 1150px;
$tablets: 768px;
$phones: 420px;
