$font-stack: "Open-sans", Arial, Helvetica, sans-serif;
$font-weght: "regular";

$basic-white: #FFFFFF;
$basic-dark: #000000;
$medim-dark:#231F20;
$basic-green:#63D1BB;
$dirty-green:#149080;
$medium-dirty-green:#56C3B2;
$warm-green:#62D1BA;
$warm-dirty-green:#6BC6B3;
$basic-grey:#444444;
$medium-grey:#ECECEC;
$light-grey:#F1F1F1;
$dark-grey:#E5E5E5;

