.background__pic {
  display: flex;
  background-image: url(./img/background/mobile_background.jpg);
  width: 568.48px;
  height: 373px;
  background-position: center;
  background-attachment: fixed;

}
